body {
    font-family: 'Unbounded', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
}
* {
    box-sizing: border-box;
  }